img{
  width:100%;
  height: auto;
 
}
.container{
  max-width: 1200px;
  
 
}

.logo-heading{
font-size: 30px;
font-weight: 500;
text-align: center;
position: relative;
margin-bottom: 60px;
}
.logo-heading::after{
  content: '';
  position: absolute;
width: 100px;
height: 4px;
background-color:#ff8159 ;
bottom: -20px;
left: 0;
right: 0;
margin: 0 auto;
}
.logo-slider .item{
  background-color: #fff;
  box-shadow: 0 4px 5px #cacaca;
  border-radius: 8px;
  padding: 25px;
  border: 2px solid rgb(225, 235, 250);
}
.logo-slider .slick-slide{
  margin: 15px;
}
.slick-dots li.slick-active button::before{
color: #2f3f9f;
}
.slick-dots li button::before{
  font-size: 10px;
}
.slick-next::before,
.slick-prev::before{
  color: #2f3f9f;
  font-size: 60px;
}
.item:hover{
  display: block;
  transition: all ease 0.3s;
  transform: scale(1.1) translateY(-5px);
}
.blue-hover:hover{
  cursor: pointer;
  color: #2f3f9f;
}
.item{
  width: 80%;
}
.slick-prev:before{
  font-size: 40px;
}
